body {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

aside {
  height: 100vh;
  width: 300px;
  position: fixed;
}
.nav-flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: column;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 300px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-img {
  width: 100%;
  height: 40%;
}
